	textarea{
		font-family:monospace;
		width:100%;
		resize:none;
	}
	
	.line-numbers, #editor .editor textarea, #editor .editor .display-editor, #editor .bottombar, #editor-whighlights{
		font-family:monospace;
	}
	
	#editor{
		border: 1px solid #ebebeb;
		border-radius: 3px;
	}
	
	#editor .visible-editor{
		display:flex;
	}
	
	#editor .visible-editor .line-numbers{
		width: 50px;
		text-align: center;
		background: #ebebeb;
	}
	
	#editor .visible-editor .line-numbers .line{
		display:block;
		width:100%;
	}
	
	#editor .visible-editor .line-numbers .line.active-line{
		background:#bfbfbf;
	}
	
	#editor .editor{
		width: 100%;
		position: relative;
	}
	
	#editor .editor .textareas{
		min-height: 300px;
		border:0;
	}
	
	#editor .editor .textareas:focus{
		outline:0;
	}
	
	#editor .visible-editor .line-numbers{
		min-height:300px;
	}
	
	#editor .bottombar{
		background:#ebebeb;
		font-size:12px;
		padding:10px 5px;
		position:relative;
		z-index:2;
	}
	
	.nice-editor{
		min-height:300px;
		border:1px solid #000;
		margin:20px;
	}
	
	.nice-editor .syntaxse-tag .syntaxse-string{
		color:#0095ff;
	}
	.nice-editor .syntaxse-tag .syntaxse-attr{
		color:#e45612;
	}
	.nice-editor .syntaxse-tag{
		color:#7a00ff;
	}
	.nice-editor .syntaxse-comment, .nice-editor .syntaxse-comment .syntaxse-tag{
		color:#07731e!important;
	}